body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f7fa;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    max-width: 800px;
    margin: auto;
    background: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius:20%;
    border-top-right-radius:20%;
  }
  
  .chat-header {
    background-color: #e4f0fd;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    border-top-left-radius:20%;
    border-top-right-radius:20%;
  }
  
  .chat-header-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .chat-header-title img {
    height: 30px;
  }
  
  .chat-header-title h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .status {
    color: green;
    font-weight: bold;
  }
  
  .chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9fbff;
  }
  
  .user_input
  {
    background-color: #0899f9;
    padding: 12px 16px;
    max-width: 70%;
    border-radius: 12px;
    margin-top:10px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 180px;
  }
  
  .message-bubble {
    background-color: #daf0ff;
    padding: 12px 16px;
    max-width: 70%;
    border-radius: 12px;
    margin-top:10px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .message-bubble .timestamp {
    font-size: 12px;
    color: black;
    margin-top: 5px;
    text-align: right;
  }
  
  .chat-footer {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: flex;
    gap: 10px;
    background: #fff;
  }
  
  .chat-footer input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #f1f1f1;
    font-size: 14px;
  }
  
  .chat-footer button {
    background-color: #a4c8f0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .chat-footer button:hover {
    background-color: #8dbbe8;
  }
  
  .chat-footer button img {
    width: 18px;
  }

  #go-back{
    background: #05b4ff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor:pointer;
  }