body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(247, 249, 252, 0.9);
    color : #3a6d98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--light-bg);
}

:root {
    --primary-color: #5a8db8;
    --primary-dark: #3a6d98;
    --secondary-color: #a6c8e6;
    --accent-color: #7fb069;
    --accent-hover: #6a9c57;
    --light-bg: #f7f9fc;
    --dark-text: #2c3e50;
    --medium-text: #546e7a;
    --light-text: #ecf0f1;
    --border-color: #e0e6ed;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --card-bg: #ffffff;
    --error-color: #e74c3c;
    --success-color: #2ecc71;
    --warning-color: #f39c12;
    --info-color: #3498db;
  }
  .music-player {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--card-bg);
    border-radius: 15px;
    padding: 0px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    max-height: 600px;
  }
  
  .now-playing {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .now-playing h3 {
    color: var(--primary-dark);
    font-size: 1.8rem;
  }
  
  .player-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .control-btn {
    background-color: var(--secondary-color);
    color: var(--primary-dark);
    border: none;
    width: 80px;
    height: 50px;
    border-radius: 30%;
    margin: 0 10px;
    cursor: pointer;
    gap:10px;
    transition: all 0.3s ease;
    font-size: 1rem;
  }
  
  .control-btn:hover {
    background-color: var(--primary-color);
    color: var(--light-text);
  }
  
  .play-btn {
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
  }