:root {
    --primary-color: #5a8db8;
    --primary-dark: #3a6d98;
    --secondary-color: #a6c8e6;
    --accent-color: #7fb069;
    --accent-hover: #6a9c57;
    --light-bg: #f7f9fc;
    --dark-text: #2c3e50;
    --medium-text: #546e7a;
    --light-text: #ecf0f1;
    --border-color: #e0e6ed;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --card-bg: #ffffff;
    --error-color: #e74c3c;
    --success-color: #2ecc71;
    --warning-color: #f39c12;
    --info-color: #3498db;
  }

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(247, 249, 252, 0.9);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1
{
    color:#05b4ff; 
}

h3
{
    color:rgb(9, 211, 9);
}

#camera-feed {
    border: 5px solid #ccc;
    border-radius: 10px;
    width: 640px;
    height: 480px;
    background: black;
} 

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: #05b4ff;
    background-clip:border-box;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background: #589ab6;
}

#buttons-container
{
   display:flex;
   gap: 10px;
}