
        /* General Styling */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        /* Full-Page Background Styling */
        body, html {
            height: 100%;
            width: 100%;
            background:linear-gradient(to right, #89F7FE, #66A6FF);
            background-size:contain; /* Ensures the image covers the whole screen */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img{
            border-radius:50%;
        }
        

        /* Form Container */
        .form-container {
            background: rgba(2, 0, 0, 0); /* transparent background */
            border-radius: 20px;
            padding: 20px 30px;
            width: 350px;
            text-align: center;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            position: relative;
        }
       
        label
        {
            color:#4BC3C1;
        }

        /* Header */
        .form-header {
            margin-bottom: 20px;
            color: #4BC3C1;
        }
        /*heading*/

        .icon-container {
            background: #e4f1f8;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 10px;
        }

        .icon {
            width: 70px;
            height: 70px;
        }

        .form-header h1 {
            font-size: 24px;
            color:#05b4ff;
        }

        /* Input Group */
        .input-group {
            margin-bottom: 15px;
            text-align: left;
        }

        .input-group label {
            font-size: 14px;
            color: #7d7d7d;
            display: block;
            margin-bottom: 5px;
        }

        .input-group input,
        .input-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 10px;
            font-size: 14px;
            outline: none;
            transition: border 0.3s ease;
        }

        .input-group input:focus,
        .input-group select:focus {
            border-color: #6ab0de;
        }

        /* Button Styling */
        .button-group {
            width: 100%;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        button {
            width: 48%;
            padding: 10px;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .login-btn {
            background:rgb(0,238,255);
            color: white;
        }

        .login-btn:hover {
            background: #05b4ff;
        }
    