<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detection.css') }}">
</head>
<body>
    <h1>Live Feed Analysis</h1>
    <h2>Welcome : {{name}}</h2>
    <h3 id="status"></h3>
    <div id="camera-feed">
        <img id="video-feed" alt="" style="border: 2px solid #000; border-radius: 10px;">
    </div>
    
    <div id="buttons-container">
        <button onclick="startLiveFeed()">Start Feed</button>
        <button onclick="stopLiveFeed()">Stop Feed</button>
        <a href='/'><button>Back To Main</button></a>
    </div>

    <script src="{{url_for('static',filename='detection.js')}}"></script>
</body>
</html>
