<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='movie.css') }}">
</head>
<body>
	<h1>Movie Recommendations</h1>
    <h2>Hey There, we recommend the following movies to you:</h2>
    <div>
        {% for movie in movies %}
          <span>{{ movie }}</span>
        {% endfor %}
    </div>
    <a href="/live-feed">Back to Live Feed</a>
</body>
</html>
